.app{
  
}

body{
  --slack-color: #3f0f40; /*this is a css variable */
  overflow: hidden;
}

.app__body{
  display: flex;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
